/.idea
/.gradle
*.DS_Store
/build
/src/main/java/eu/hansolo/spacefx/Test.java
/out
/classes
/target
/spacefx.iml
/RUNNING_PID
/logs
/tmp
*.class
spacefx.iml

/.vscode
/.classpath
/.project
/.settings
/.github/workflows/.tmp-runtime/
/.github/workflows/*.msi
/bin/

