/.idea
/.gradle
.DS_Store
/build
/src/main/java/eu/hansolo/spacefx/Test.java
/out
/classes
/spacefx.iml
/RUNNING_PID
/logs
/src/main/resources/eu/hansolo/spacefx/fighter.afphoto
/src/main/resources/eu/hansolo/spacefx/beams.png
/src/main/resources/eu/hansolo/spacefx/gameover.afdesign
/src/main/resources/eu/hansolo/spacefx/startscreen.afdesign
