<?xml version='1.0'?>
<manifest xmlns:a='http://schemas.android.com/apk/res/android' package='eu.hansolo.spacefx.spacefx' a:versionCode='1' a:versionName='1.0'>
        <supports-screens a:xlargeScreens="true"/>
        <uses-sdk a:minSdkVersion="21" a:targetSdkVersion="28"/>
        <application a:label='SpaceFX' a:icon="@mipmap/ic_launcher">
                <activity        a:name='eu.hansolo.spacefx.SpaceFX' a:configChanges="orientation|keyboardHidden" a:screenOrientation="portrait"
>
                        <intent-filter>
                                <category a:name='android.intent.category.LAUNCHER'/>
                                <action a:name='android.intent.action.MAIN'/>
                        </intent-filter>
                </activity>
        </application>
</manifest>
