<?xml version='1.0'?>
<manifest xmlns:android='http://schemas.android.com/apk/res/android' package='eu.hansolo.spacefx.spacefx'
          android:versionCode='1' android:versionName='1.0'>
    <supports-screens android:xlargeScreens="true"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:label='SpaceFX' android:icon="@mipmap/ic_launcher">
        <activity android:name='com.gluonhq.helloandroid.MainActivity'
                  android:configChanges="orientation|keyboardHidden"
                  android:screenOrientation="portrait">
            <intent-filter>
                <category android:name='android.intent.category.LAUNCHER'/>
                <action android:name='android.intent.action.MAIN'/>
            </intent-filter>
        </activity>
    </application>
</manifest>
